[xboxdrv]
ui-clear=true
extra-devices=false
extra-events=false
silent=true
deadzone=6000
dpad-as-button=true
trigger-as-button=true

[ui-axismap]
x2=BTN_BACK:BTN_FORWARD
y2=BTN_LEFT:BTN_RIGHT
x1=REL_X:15:20
y1=REL_Y:15:20

[ui-buttonmap]
a=KEY_A
b=KEY_B
x=KEY_X
y=KEY_Y

[ui-buttonmap]
lb=KEY_PAGEDOWN
rb=KEY_PAGEUP

[ui-buttonmap]
lt=KEY_L
rt=KEY_R

[ui-buttonmap]
dl=KEY_LEFT
dr=KEY_RIGHT
du=KEY_BACK
dd=KEY_FORWARD

[ui-buttonmap]
back=KEY_TAB
start=KEY_ESC

# EOF #
