[xboxdrv]
ui-clear=true
extra-devices=false
extra-events=false
silent=true
deadzone=6000
dpad-as-button=true
trigger-as-button=true

[ui-axismap]
x2=REL_X:10
y2=REL_Y:-10
x1=KEY_R:KEY_T
y1=KEY_F:KEY_G

[ui-buttonmap]
a=KEY_A
b=KEY_B
x=KEY_X
y=KEY_Y

[ui-buttonmap]
lb=BTN_LEFT
rb=BTN_RIGHT

[ui-buttonmap]
lt=KEY_L
rt=KEY_R

[ui-buttonmap]
dl=KEY_4
dr=KEY_2
du=REL_WHEEL:-1:150
dd=REL_WHEEL:1:150

[ui-buttonmap]
back=KEY_TAB
start=KEY_ESC

# EOF #
