[xboxdrv]
ui-clear=true
extra-devices=false
extra-events=false
silent=true
deadzone=6000
dpad-as-button=true
trigger-as-button=true

[autofire]
du=150
dd=150
dl=150
dr=150

[ui-axismap]
x2=REL_WHEEL:5:10
y2=REL_WHEEL:-5:10
x1=REL_X:50:20
y1=REL_Y:-50:20

[ui-buttonmap]
a=KEY_A
b=KEY_B
x=KEY_X
y=KEY_Y

[ui-buttonmap]
lb=KEY_PAGEDOWN
rb=KEY_PAGEUP

[ui-buttonmap]
lt=KEY_L
rt=BTN_FORWARD

[ui-buttonmap]
dl=KEY_LEFT
dr=KEY_RIGHT
du=KEY_UP
dd=KEY_DOWN

[ui-buttonmap]
back=KEY_TAB
start=KEY_ESC

[ui-buttonmap]
guide=exec:/home/pi/startsph

# EOF #
